APP_NAME="Blog Service"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8003

LOG_CHANNEL=stderr
LOG_LEVEL=error

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
BLOG_MONGODB_DB=codecamp_php
JWT_SECRET=dev-secret
